#contact-form-13 {
	input,
	textarea,
	label {
		width: 95%;
		margin: auto;
	}
	div {
		margin-top: 16px;
	}
	label {
		color: whitesmoke;
	}
}

.contact-submit {
	width: 100%;
	margin-top: 15px;
	text-align: center;
}